﻿.box { box-sizing: border-box; margin: 0; padding:0; }

html {
    background: #88cb19;
  /*background: #95a5a6;*/
}

body {            
      height:100%; 
      margin: 0;
      padding: 0;
      border: 0;
      /*color: #5a5a5a;*/
      color: #fff;
      background: #88cb19;
      /*background-color: #D4D9DD;*/
      font-size:15px;
      font-family: 'Roboto', sans-serif;
  }

  .login-wrap {
    position: relative;
    margin: 30px auto;
    /*background: #ecf0f1;*/
    background: #fff;
    width: 350px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
  }
    .login-header {
      text-align: center;
      font-weight: 200;
      font-size: 2em;
      margin-top: 10px;
      /*color: #013660;*/
      color: #000;
    }
    
    .form-login {
      padding-top: 20px;
    }
      .input-login, .button-login {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 25px;
        height: 40px;
        border-radius: 5px;
        outline: 0;
        -moz-outline-style: none;
      }
      
      .input-login {
        border: 1px solid #bbb;
        padding: 0 0 0 10px;
        font-size: 14px;}
        .input-login:focus {
          border: 1px solid #3498db;
        }
      
      a {
        text-align: center;
        font-size: 10px;
        color: #3498db;
      }
        p{
          padding-bottom: 10px;
        }
        
      
      .button-login {
        /*background: #e74c3c;*/
        background: #ffa534;
        border:none;
        color: white;
        font-size: 18px;
        font-weight: 200;
        cursor: pointer;
        transition: box-shadow .4s ease;
      }
        .button-login:hover {
          box-shadow: 1px 1px 5px #555;  
        }
          
        .button-login:active {
            box-shadow: 1px 1px 7px #222;  
        }

      
    
    
    .login-wrap:after{
    content:'';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    background:-webkit-linear-gradient(left, #fcb760 10%, #e58104 100%);
    background:-moz-linear-gradient(left,#fcb760 10%, #e58104 100%);
      height: 10px;
      border-radius: 10px 10px 0 0;
  }

.alert-error {
    color: red;
}

.bannermessage {
    padding-left:20px;
}

.txtblack {
    color: #000;
}