﻿@charset "utf-8";

/* ------------------------------------------------------------------------------- */
/*  Import styles
/* ------------------------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic&subset=latin,cyrillic);
body {
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.trace{
    border: 1px red solid;
}

/* ------------------------------------------------------------------------------- */
/*  Header
/* ------------------------------------------------------------------------------- */
header {
    background: none repeat scroll 0 0 #fc9c20;
    border-bottom: 3px solid #E0E0E0 !important;
    border-top: 1px solid #FBAF41 !important;
}

header .navbar { 
    margin:0;
}

.navbar-default {
    background: white;
    border: none;
    padding: 0;
}

.navbar-brand {
    line-height: 1;
    padding: 0;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    /*color: #ef5b2b;*/
}

.navbar-default .navbar-nav>li>a{
    color:#8A8A8A;
    font-size: 14px;
    font-weight:600;
    text-transform: uppercase;
    border-bottom: 4px solid white;
}
.navbar-default .navbar-nav>li>a:hover{
    border-bottom: 4px solid #76B82A;
}
#top-shadow {
position: fixed;
top: 0;
left: 20px;
width: 100%;
height: 42px;
z-index: 999;
-webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.8);
box-shadow: 0 5px 18px rgba(0, 0, 0, 0.8);
display: none;
}

.navbar.affix{ /* position fixed navbar */
top:0; 
width:100%;
}

.navbar{    
z-index:1000; /* lift .navbar above #top-shadow */
}



/* ------------------------------------------------------------------------------- */
/*  Carusel
/* ------------------------------------------------------------------------------- */
.carousel { 
    /*background: url("img/green_bg.png") repeat;*/
   /* background-color: #eee;*/
    background-color: #9bcd65;
    /*background: url("img/aboutsite.png") repeat;*/  
}
.carousel .item {
    padding-top:100px;
}
.carbackblue {
    background-color: #3db6ff;
}
.carbackgreen {
    background-color: #76b82a;
}
.carbackpurpel {
    background-color: #7450b7;
}

.carbackyellow {
    background-color: #f0ef08;
}

.carusel_place {    
    background: #c6ec7f url('img/bg.png') repeat 0 0;
    color: #1e80cf;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0;
}

.carousel-caption {
    right: 50%;
    text-align: center;
    max-width: 700px;
    left: auto;
    text-shadow: 0px 0px 0px #fff;
}

.carousel-caption1 {
    padding-top:20%;
    text-align: center;
    max-width: 700px;
    left: auto;
    text-shadow: 0px 0px 0px #fff;
}
.textw {
    color: #fff;
}

.textb {
    color: #1e80cf;
}
.h1carusel {
    /*color: #76B82A;*/     
    /*color: #fff;*/
    font-weight: 600;
    font-size: 44px;
    line-height: 1;
    /*letter-spacing: -1px;*/  
}

.h2carusel {
    border-top: 2px dotted #1e80cf;
    border-bottom: 2px dotted #1e80cf;
    padding: 2% 0;
    color: #1e80cf;
    font-size: 26px;
    font-weight: 400;
    line-height: 1em;
    margin: 4% 0;
    letter-spacing: -1px;
}

.carbackblue .h2carusel {
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
    color: #fff;
}
.carbackpurpel .h2carusel {
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
    color: #fff;
}

.carbackgreen .h2carusel {
    border-top: 2px dotted #fff;
    border-bottom: 2px dotted #fff;
    color: #fff;
}

.pcarusel {
    line-height: 1.4;
    color: #1e80cf;
    font-size: 20px;
    font-weight: 600;
    margin: 2% 0;
}

.carbackblue .pcarusel {
    color: #fff;
}

.figure {
    margin: 0;
}

form.suscribe input  {
    margin: 20px 0;
}

.carbackblue .btncarusel {
    background: #5f6388;
}

.carbackblue .btncarusel:hover {
    background: #8bc34a;
}

.btncarusel {
    background:#1e80cf;
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    padding: 17px 28px;
    text-transform: uppercase;
}

.btncarusel:hover {
    background: #8bc34a;
}
.carousel-indicators .active {
    /*background-color: #8bc34a;*/
    background-color: red;
}

.carousel-img {
    /*padding-right:50px;*/
}

/* ------------------------------------------------------------------------------- */
/*  Content
/* ------------------------------------------------------------------------------- */
.well_blue{
    background-color: #00a9e8;
    padding-top: 70px;
    padding-bottom: 10px;
}
.well_white{
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 10px;
}
.well_besmart {
    background: no-repeat center url('img/aboutsite.png');
    padding-top: 70px;
    padding-bottom: 0px;
}
.heading {
    display: table;
    margin: 0 auto;	
}
.heading>div {
    border-bottom: 2px solid #fff;
    padding: 0 90px 0px 90px;
    margin: 5px 0 30px 0;
}
.heading>div>h2, .heading>div>h1 {
    letter-spacing: 0.05em;
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 6px solid #fff;
    padding-bottom: 10px;
    margin: 0 0 -4px 0;
}
.heading.purple>div {
    border-color: #e6e6e6;
}
.heading.purple>div>h2, .heading.purple>div>h1 {
    border-bottom-color: #7e57c6;
    color: #000;
}
.heading.green>div {
    border-color: #e6e6e6;
}
.heading.green>div>h2, .heading.green>div>h1 {
    border-bottom-color: #76b82a;
    color: #000;
}
.block {
    padding-top: 100px;
    background-color: #fff;
    padding-bottom: 120px;
}
.block_s {
    padding-top: 20px;
    background-color: #fff;
    padding-bottom: 80px;
}
.block-head {
    padding-bottom: 20px;
}

.grey-back {
    background-color: #E0E0E0;
}

.rform{
    width: 400px;
}

.media-object {
    max-width: 192px;
    max-height: 192px;
}

.fa-green {
    color: #76b82a;
}

.fa-purpel {
    color: #5E5280;
}

.btn-success {
    background-color: #76b82a;
    border-color: #76b82a;
}

.wm {
    width: 400px;
}

.width800 {
    width: 800px;
}
table {
    font-size: 14px;
    margin: 0 auto; 
    width:350px;/* or margin: 0 auto 0 auto */
  }


.table-bordered, .table-bordered td, .table-bordered th{
    border-color: #76b82a !important;
}

.divheight {
    min-height: 80px;
}
.divheight10 {
    min-height: 170px;
}
.fc-event { 
    height: 30px !important;
    font-size: 14px;
}
.bigcontact {
    font-size: 24px;
}
.panel-default > .panel-heading {
    background-color: #76b82a;
    font-size: 16px;
    color: #fff;
}

.fontbig {
    font-size: 16px;
}

.redfont {
    color: darkred;
}
/*/////////////////////////// 
        
*****  MAIN - ENROLL
        
///////////////////////////*/

.block-green {
    background: url("img/green_bg.png") repeat;
    margin: 30px 0 0 0;
    padding-bottom: 30px;
    overflow: hidden;
    display: block;
    position: relative;
    overflow: hidden;
    padding-top:100px;
    padding-bottom:100px;
    color: #fff;
}
.block-green div.info {
    text-transform:  uppercase;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}
.block-green h2 {
    border-bottom-color: #fff;    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    /*border-bottom: 6px solid #fff;*/
    padding-bottom: 10px;
    margin: 0 0 -4px 0;
}

.block-grey {
    background-color: #E0E0E0;
    margin: 30px 0 0 0;
    padding-bottom: 30px;
    overflow: hidden;
    display: block;
    position: relative;
    overflow: hidden;
    padding-top:100px;
    padding-bottom:100px;
    color: #000;
}
.block-grey h2 {
    border-bottom-color: #fff;    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    /*border-bottom: 6px solid #fff;*/
    padding-bottom: 10px;
    margin: 0 0 -4px 0;
}
/*/////////////////////////// 
        
*****  MAIN - EVENTS
        
///////////////////////////*/
.block-purple {
    background: url('img/department_purple_bg.png') repeat;
    background-color: #7450b7;
    display: block;
    position: relative;
    overflow: hidden;
    padding-top:100px;
    padding-bottom:120px;
    color: #fff;
}
.block-purple h2 {
    border-bottom-color: #fff;    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    /*border-bottom: 6px solid #fff;*/
    padding-bottom: 10px;
    margin: 0 0 -4px 0;
}
.rline {
    border-right: solid #ccc 1px;
}
/* ------------------------------------------------------------------------------- */
/*  Footer
/* ------------------------------------------------------------------------------- */

footer {
    background: #8A8A8A;
    color: #fff;
    padding: 20px 0;
}
footer p{
    background: #8A8A8A;
    color: #fff;
    padding: 20px 0;
}
footer a{    
    color: #fff;
    padding: 20px 0;
}

.logo img{
    width: 50px;
    height: 50px;
}